body {
    background: rgba(205, 5, 234, 0.3);
    font-family: "Century Gothic", CenturyGothic;
}

#right-side {
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 175px;
    font-family: sans-serif;
}

.title {
    text-align: center;
}
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 280px;
    background: rgba(17, 0, 0, 0);
    border-style: solid;
    text-align: center;
}

.Beasphoto {
    transform: rotate(90deg);
    position: relative;
    left: 800px;
    bottom: 250px;
}

#Bea {
    text-align: left;
}
