.video1 {
    transform:rotate(90deg);
    width: 300;
    height: 400;
}

body {
    background: rgba(6, 57, 124, 0.644);
    font-family: 'Indie Flower', cursive;
}

.abrarphoto1 {
    border: 2px solid rgb(255, 255, 255);
}

.font {
    font-family: 'Dosis', sans-serif;
    color: rgba(98, 5, 112, 1);
}

.eqi-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .eqi-container div {
    width: "300";
    height: "400";
  }

.video2 {
    width: 250;
    height: 350;
}
